body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-position: 50% 50%;
}

.main-inner {
  background: #fff;
  opacity: 0.9;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.8;
}

.post-block {
  padding-left: 20px
  padding-right: 20px
}